

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% load static %}
  <head>
    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <title>{% block title %}{% endblock %}</title>

    <!--Links for styles and font-->
    
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"crossorigin="anonymous">
   

    {% block styles %}{% endblock %}

  </head>
  
  <body>
    <!-- navigation bar -->

    <nav class="navbar navbar-expand-lg navbar-light fixed-top justifiy-content-end"
    style="background: rgba(256, 256, 256, 0.65);
           box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          font-size: 22px;">

      <a class="navbar-brand" href=""><img alt=logo src="{% static 'images/logo.svg' %}"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home<span class="sr-only"></span></a>
            </li>
            
           
        </ul>
        <div class="right">
          <div class="row" style="padding: 20px;">
            
              <form>
                <input type="submit" class="btn btn-dark" onclick="switch_style('light');return false;" name="theme" value="Light" id="light">
                <input type="submit" class="btn btn-dark" onclick="switch_style('dark');return false;" name="theme" value="Dark" id="dark">
              </form> 
          
            
          </div>
            
            
        </div>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/tema.js' %}"></script>


    {% block scripts %}
    {% endblock %}

  </body>
</html>
