{% extends 'base.html' %}
{% load static %}

{% block title %}My Profile ☀{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/style1.css' %}" title="light" />
<link rel="stylesheet" href="{% static 'css/style2.css' %}" title="dark" />
{% endblock %}  
   
   
{% block content %}


<div class="container" style="margin-top: 100px;">

	    
       
    <div style="text-align: center;">
    	<div class="display-1" style="font-weight: bold; font-style: italic; color: white; -webkit-text-stroke: 4px #7A6660; ">Welcome</div>    	

    	<div class=transbox style= "font-weight: light; padding: 10px;">
    		<h4>You have visited this website served by:</h4>
    	</div>

    	<div class=transbox style= "font-weight: light; vertical-align: middle;">
    		<h1 style="text-align: center;">
    		<br>
    		<div style="font-style: italic;" id="host-name"> 
	    		HOST: <strong>{{host}}</strong>
	    		<br>
	    		PORT: <strong>{{port}}</strong>
	    		</h1>

    		</div>

    	</div>
    </div>

		
	
</div>

{% endblock %}


{% block scripts %}	

<script src="{% static 'js/accordion.js' %}"></script>

{% endblock %}

